*{
  margin:0px;
  padding:0px;

}
.body__container{
 margin: auto;
 text-align: center;
 
}
.form__container{
  padding: 10px;
  width: 500px;
  margin: auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
.form__container .destination__container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  

}
.form__container .destination__container select{
  position: relative;
  left :-6px;
  padding: 5px;
  width: 150px;
  border-radius: 5px;
}
.form__container button{
  padding: 10px;
  width: 100px;
  margin-top: 2rem;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  background-color: aquamarine;
}

.home__container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.input__container{
  display: flex;
  padding: 5px;
  flex-direction: row;
  gap:2rem;
  justify-content:space-between;
  
}
.input__container input{
  padding: 5px;
  border-radius: 5px;
}
.details__container{
  margin: auto;
  box-shadow: 3px 3px 3px ;
  width: 500px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.detail__container{
display: flex;
flex-direction: row;
 gap:2rem;
}
.detail__container h3{
  text-align: left;
  width: 100px;
  font-weight: 500;
  }
  .detail__container p{
    text-align: right;
    width: 200px;
    }